.about {
    text-align: center;
    padding: 100px 40px 0;
    margin: 0 auto 100px;
    color: #FFFFFF;
    max-width: 1440px;
}

.about__subtitle {
    max-width: 900px;
}

.about__img {
    width: 1129px;
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .about {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:550px) {
    .about {
        padding: 100px 16px 0;
        margin-bottom: 0;
    }
}
