.header {
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__left {
    display: flex;
    align-items: center;
  }
  
  .header__logo-link {
    display: block;
    width: 120px;
    margin-right: 40px;
  }
  
  .header__logo-img {
    width: 100%;
  }
  
  .header__burger {
    display: none;
    background: url(../../images/burger.svg) no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 24px;
    border: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
  
  .header__burger_opened {
    background-image: url(../../images/close-menu.svg);
  }
  
  .header__burger:hover {
    opacity: .7;
  }
  
  .header__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header__lang {
    position: relative;
    margin-right: 16px;
  }
  
  .header__lang-btn {
    border: 1px solid #95B0B4;
    border-radius: 30px;
    padding: 7px 16px;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: #95B0B4;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
  
  .header__lang-img {
    width: 16px;
    margin-left: 8px;
  }
  
  .header__lang-img_opened {
    transform: rotate(180deg);
  }
  
  .header__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border-radius: 6px;
    padding: 16px;
    position: absolute;
    width: 100%;
    top: calc(100% + 4px);
    left: 0;
    background-color: #162027;
    border: 1px solid #95B0B4;
  }
  
  .header__list_opened {
    display: block;
  }
  
  .header__item {
    font-size: 16px;
    line-height: 1.5;
    color: #95B0B4;
    margin-bottom: 8px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
  
  .header__item:last-child {
    margin-bottom: 0;
  }
  
  .header__item:hover {
    opacity: .7;
  }
  
  @media screen and (max-width:1024px) {
    .header {
      padding: 12px 40px;
      position: relative;
    }

    .header__logo-link {
      width: 100px;
    }
  
    .header__burger {
      display: block;
    }
  
    .header__container:not(.header_type_auth .header__container) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #162027;
      padding: 24px 16px 32px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 10;
    }
  
    .header__container_opened {
      display: flex !important;
    }
  
    .header__link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 16px;
    }
    
    .header__link-img {
      margin-right: 8px;
    }
    
    .header__link-text {
      display: block;
    }

    .header__lang {
      margin: 0 0 16px;
    }
  
    .header__item {
      text-align: center;
    }
  }

  @media screen and (max-width:550px) {
    .header {
      padding: 12px 16px;
    }

    .header__lang {
      width: 100%;
    }
    
    .header__lang-btn {
      width: 100%;
      justify-content: center;
    }
  }